<!DOCTYPE html>
<html lang="en">
  <%- include("components/head", { title }) %>
  <body>
    <%- include("components/header") %>
    <main>
      <% if (locals.messages && Array.isArray(messages) && messages.length > 0)
      {%> <% messages.forEach((message, i) => { %>
      <div class="message-card">
        <div class="user-name"><%= message.userName %></div>
        <div class="message-date"><%= message.date %></div>
        <div class="message">
          <%= message.text %><a href="/details/<%= i %>">see message</a>
        </div>
      </div>
      <% }) %> <% } else { %>
      <p>There are no messages on the board.</p>
      <% } %>
    </main>
  </body>
</html>
