<!DOCTYPE html>
<html>
  <%- include("components/head", { title }) %>
  <body>
    <%- include("components/header") %>
    <main>
      <% if (locals.message) { %>
      <table width="100%">
        <tbody>
          <tr>
            <td class="sender"><%= message.sender %></td>
            <td class="message"><%= message.message %></td>
            <td class="date"><%= message.date %></td>
          </tr>
        </tbody>
      </table>
      <% } else if (locals.error) { %>
      <p class="error"><%= error %></p>
      <% } else { %>
      <p class="error">There is no message to represent!</p>
      <% } %>
    </main>
  </body>
</html>
