<!DOCTYPE html>
<html lang="en">
  <%- include("components/head", { title }) %>
  <body>
    <%- include("components/header") %>
    <main>
      <p class="note">
        <strong>Note</strong>: This app is just for practicing back-end
        programming with Express.js, so there is no need to bloat the database
        with useless messages; hence,
        <em>the number of messages allowed is limited</em>.
      </p>
      <% if (Array.isArray(locals.messages) && messages.length > 0) { %>
      <table width="100%">
        <tbody>
          <% messages.forEach(({id, sender, message, date}, i) => { %>
          <tr>
            <td class="sender"><%= sender %></td>
            <td class="message">
              <%= message %><a href="/details/<%= id %>">see message</a>
            </td>
            <td class="date"><%= date %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } else if (locals.error) { %>
      <p class="error"><%= error %></p>
      <% } else { %>
      <p class="error">There are no messages on the board.</p>
      <% } %>
    </main>
  </body>
</html>
