<!DOCTYPE html>
<html>
  <%- include("components/head", {title}) %>
  <body>
    <%- include("components/header", {title}) %>
    <main>
      <% if (locals.serverError) { %>
      <div class="error"><%= serverError %></div>
      <% } %>

      <form action="/new" method="post">
        <div>
          <% if (locals.errors?.sender) { %>
          <div class="error"><%= errors.sender.msg %></div>
          <% } %>
          <input
            type="text"
            name="sender"
            class="user-name"
            placeholder="Your name"
            maxlength="28"
            autofocus
            value="<%= locals.sender || '' %>"
          />
        </div>
        <div>
          <% if (locals.errors?.message) { %>
          <div class="error"><%= errors.message.msg %></div>
          <% } %>
          <textarea name="message" class="message" placeholder="Your message">
<%= locals.message || '' %></textarea
          >
        </div>
        <button type="submit" class="send-message">Send</button>
      </form>
    </main>
  </body>
</html>
